body
{
margin:0;
}
#banner_top
{
width:100%;
height:72px;/
padding-top:15px;
background:#B3E0F5;
border-bottom:#330066 solid 6px;
}
#banner_top_l
{
width:30%;
height:52px;
float:left;
font-size:22px;
font-weight:bold;
margin-left:35px;
}
#banner_top_r
{
width:43%;
text-align:right;
float:right;
margin-right:32px;
}
.top_a
{
font-size:14px;
color:#333;
text-decoration:none;
}


#daohang
{
width:19%;
height:500px;
line-height:30px;
padding-left:3%;
background:#B3E0F5;
float:left;
color:#2F9AD2;
}
#daohang a
{
text-decoration:none;
color:#2F9AD2;
}
#daohangnow
{
width:80%;
border-left:dotted 2px #E7F6FD;
}
#daohangnow a
{
color:#E7F6FD;
}

#neirong
{
width:77.5%;
height:500px;
overflow:auto;
background:#E7F6FD;
float:right;
}
.neirongkuang
{
width:95%;
min-height:1px;
margin-left:auto;
margin-right:auto;
margin-top:35px;
}



table
{
margin-top:35px;
}
table a
{
text-decoration:none;
color:#1F7AC2;
}
th
{
background:#59f;//59f;2F9AD2
}
td
{
background:#8bf;//8bf;B3E0F5
}



#bottom
{
width:100%;
height:60px;
line-height:60px;
background:#B3E0F5;
font-size:12px;
text-align:center;
margin-top:5px;
}