body
{
margin:0;
background:#F9F9F9;
}


#content
{
width:1000px;
min-height:850px;
margin-top:8px;
margin-left:auto;
margin-right:auto;
}
#con_left
{
width:75%;
min-height:850px;
float:left;
}
#con_right
{
width:24%;
min-height:850px;
float:right;
}


#con_left_article
{
width:100%;
min-height:405px;
margin-top:8px;
border:#9FBFAE solid 1px;
}
#con_left_article_title
{
width:100%;
height:30px;
line-height:30px;
font-weight:bold;
color:#FFFFFF;
background:#9FBFAE;
}
#con_left_article_content
{
width:100%;
min-height:375px;
}
#con_right_login
{
width:100%;
height:290px;
margin-top:8px;
background:url(images/login.png);
border:#9FBFAE solid 1px;
}
#con_right_login_content
{
width:100%;
text-align:center;
margin-top:50px;
}
#con_right_login_content_submit
{
width:138px;
height:26px;
background:#6C9E81;
border:#9FBFAE solid 1px;
text-align:center;
margin-left:auto;
margin-right:auto;
line-height:26px;
color:#FFFFFF;
cursor:pointer;
}
#con_right_login_content a
{
text-decoration:none;
font-size:0.8em;
color:#9FBFAE;
}
#con_right_message
{
width:100%;
height:323px;
margin-top:8px;
border:#9FBFAE solid 1px;
}
#con_right_message_title
{
width:100%;
height:30px;
line-height:30px;
font-weight:bold;
color:#FFFFFF;
background:#9FBFAE;
}
#con_right_message_content_1
{
width:100%;
height:145px;
padding-top:15px;
color:#0000E3;
text-align:center;
}
#con_right_message_content_1 textarea
{
width:95%;
}
#con_right_message_content_2
{
width:90%;
height:130px;
color:#0000FF;
margin-left:auto;
margin-right:auto;
overflow:hidden;
}
#con_right_message_content_2 a
{
font-size:0.8em;
text-decoration:none;
}
#con_right_message_content_2_1
{
font-weight:bold;
color:#FF0000;
}

li
{
height:29px;
}
li a
{
text-decoration:none;
}

#bottom
{
height:56px;
width:100%;
line-height:30px;
color:#0000FF;
text-align:center;
margin-top:56px;
background:url(images/hr1.gif) repeat-x;
}