body
{
margin:0;
background:#F9F9F9;
}


#top
{
width:100%;
height:120px;
line-height:120px;
font-size:3em;
font-weight:bold;
color:#99CC66;
background:url('images/top.jpg');
}

#content
{
width:1000px;
min-height:850px;
margin-top:8px;
margin-left:auto;
margin-right:auto;
}
#con_left
{
width:75%;
min-height:850px;
float:left;
}
#con_right
{
width:24%;
min-height:850px;
float:right;
}
#con_daohang
{
width:100%;
height:38px;
line-height:38px;
background:#0066FF;
border:#9FBFAE solid 1px;
}
.con_daohang_list
{
width:19.8%;
height:38px;
text-align:center;
color:#FFFFFF;
float:left;
border-right:#9FBFAE solid 1px;
}


#con_left_hot
{
width:100%;
min-height:405px;
margin-top:8px;
border:#9FBFAE solid 1px;
}
#con_left_hot_title
{
width:99%;
height:50px;
line-height:50px;
font-weight:bold;
padding-left:1%;
color:#FFFFFF;
background:#9FBFAE;
}
#con_left_hot_content
{
width:100%;
min-height:375px;
}
#con_right_login
{
width:100%;
height:300px;
margin-top:8px;
background:url(images/login.png);
border:#9FBFAE solid 1px;
}
#con_right_login_content
{
width:100%;
text-align:center;
margin-top:50px;
}
#con_right_login_content_submit
{
width:138px;
height:26px;
background:#00CCFF;
border:#9FBFAE solid 1px;
text-align:center;
margin-left:auto;
margin-right:auto;
line-height:26px;
color:#FFFFFF;
cursor:pointer;
}
#con_right_login_content a
{
text-decoration:none;
font-size:0.8em;
color:#9FBFAE;
}
#con_right_message
{
width:100%;
height:323px;
margin-top:8px;
border:#9FBFAE solid 1px;
}
#con_right_message_title
{
width:100%;
height:30px;
line-height:30px;
font-weight:bold;
color:#FFFFFF;
background:#9FBFAE;
}
#con_right_message_content_1
{
width:100%;
height:145px;
padding-top:15px;
color:#FFFFFF;
text-align:center;
}
#con_right_message_content_1 textarea
{
width:95%;
}
#con_right_message_content_2
{
width:90%;
height:130px;
color:#999999;
margin-left:auto;
margin-right:auto;
overflow:hidden;
}
#con_right_message_content_2 a
{
font-size:0.8em;
text-decoration:none;
}
#con_right_message_content_2_1
{
font-weight:bold;
color:#999999;
}

li
{
height:29px;
color:#97B9A2;
}
li a
{
text-decoration:none;
color:#557A65;
}

#bottom
{
height:56px;
width:100%;
line-height:30px;
color:#B2B2B2;
text-align:center;
margin-top:56px;
background:url(images/hr1.gif) repeat-x;
}

